{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'About Me' %}

{% block body %}

        <p>My name is Mayela Miridis, I have been a wedding minister since 2007 with well over 800 ceremonies experience in Cancun and the Riviera Maya. I'm fluent in english and german. I love my job! I get to meet lovely people and be a part of one of the most important days of their lives.</p>
        <p>My philosophy is to create a ceremony that speaks of who you both are, with touches of your love story so it stays in your memory forever. That is why scheduling a face to face skype conversation will be an important part of the process, in order to get to know each other a little, and learn more about you, your style, taste and values.</p>
        <p>Being very respectful of cultural traditions and religious backgrounds I design different kinds of ceremonies depending on your wishes.</p>

        <ul>
            <li>Christian Ceremonies</li>
            <li>Religious Non Denominational Ceremonies as well as,</li>
            <li>Non Religious Ceremonies</li>
        </ul>
{% endblock %}
