{% extends 'AppBundle::base.html.twig' %}

{% block javascripts %}
<script>
    $(function(){

        $('a.faq-btn')
                .bind('click', function(evt){
                    evt.preventDefault();

                    console.log($(this).closest('.faq-row'));
                    $(this).closest('.faq-row').find('.answer').toggle();
                })
                .bind('mousedown', function(evt){
                    evt.preventDefault();
                })
        ;

    });
</script>
{% endblock %}

{% set page_title = 'F.A.Q.' %}

{% block body %}

    <div class="instruction">Click on the question you're interested in to see the answer.</div>
    {% for  i in range(1, 3)  %}

        <div class="row faq-row">

            <div class="col-sm-1 hidden-xs text-right">
                <a class="faq-btn" href="#"><span class="glyphicon glyphicon-heart question"></span></a>
            </div>
            <div class="col-sm-10">
                <div class="question">
                    <a href="#" class="faq-btn">Question {{ i }}</a>
                </div>
                <div class="answer">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
