{% extends 'AppBundle::base.html.twig' %}

{% set page_title = 'Gallery' %}

{% block stylesheets %}
    <link href="/assets/vendor/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/vendor/magnific-popup/dist/jquery.magnific-popup.js") }}"></script>

    <script type="text/javascript">
        $(function () {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function (item) {
                        return item.el.attr('title') + '';
                    }
                }
            });
        });
    </script>
{% endblock %}


{% block body %}

    <div class="popup-gallery">
        {% for image in images %}
            <a href="{{ asset('images/gallery/' ~ image.name) }}" title="{{ image.title }}">
                <img src="{{ asset('images/gallery/tn/' ~ image.name) }}" width="120" height="120" style="border: 2px solid #F6BFC5; margin-top: 4px;"/>
            </a>
        {% endfor %}
    </div>

{% endblock %}
