{% extends '@App/backend.html.twig' %}

{% set page_title = "Backend" %}

{% block body -%}

    <h1>{{ page_title }}</h1>

    <div>Welcome {{ app.user }}! Please choose from the menu above.</div>

{% endblock %}
